.weather-content {
    width: 400px;
    // height: 500px;
    padding-top: 50px;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    margin-left: -50px;
    h2 {
        margin: 0;
        margin-top: -30px;
        font-size: 30px;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
    }
    h3 {
        margin: 0;

        span {
            font-size: 27px;
        }
    }
    .weather-icon {
        width: 130px;
        height: 130px;
    }
    p {
        font-size: 23px;
    }
    .weather-place {
        padding-left: 10px;
    }

    .message-weather {
        color: #b03da3;
        font-size: 31px;
        text-decoration: underline overline;
        line-height: 150%;
    }
    .input-form {
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px #020202 inset !important;
            -webkit-text-fill-color: white !important;
        }
        background-color: transparent;
        padding-bottom: 27px;
        .MuiOutlinedInput-notchedOutline {
            border-color: white;
        }
        .MuiInputLabel-outlined {
            color: white;
        }
        .MuiFormHelperText-contained {
            color: white;
        }
        .MuiOutlinedInput-input {
            color: white;
            width: 200px;
        }
    }
    form{
        width: 300px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
        padding-bottom: 7px;
        .button-form{
            width: 30px;
            height: 56px;
        }
    }
    
}
