.home-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 33px;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    flex-wrap: wrap;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0.1px;
    }
}
