.register-page-wrapper {
    min-height: 864px;
    background-image: url('../assets/background.jpg');
    .register-heading {
        color: white;
        height: 100%;
        margin: auto;
        padding-bottom: 50px;
    }
    .register-form-wrapper {
        padding-top: 100px;
        h2 {
            display: inline-block;
        }
        .form-register {
            background-color: rgb(0, 0, 0, 0.7);
            border-radius: 4px;
            border-color: gray;
            border-width: 4px;
            border-style: solid;
            width: 400px;
            margin: auto;
            padding: 20px 30px 0px 30px;
            .input-form {
                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px #020202 inset !important;
                    -webkit-text-fill-color: white !important;
                }
                margin: auto;
                background-color: transparent;
                padding-bottom: 27px;
                .MuiOutlinedInput-notchedOutline {
                    border-color: white;
                }
                .MuiInputLabel-outlined {
                    color: white;
                }
                .MuiFormHelperText-contained {
                    color: white;
                }
                .MuiOutlinedInput-input {
                    color: white;
                    width: 270px;
                }
            }
            .error-input {
                .MuiOutlinedInput-notchedOutline {
                    border-color: red;
                }
                .MuiInputLabel-outlined {
                    color: red;
                }
                .MuiFormHelperText-contained {
                    color: red;
                }
                .MuiOutlinedInput-input {
                    color: red;
                    width: 270px;
                }
            }
            .button-form {
                background-color: #b03da3;
                &:hover {
                    background-color: #6600cc;
                }
            }
        }
        .login-register {
            color: white;
            height: 40px;
            padding-bottom: 25px;
        }
        .link-to-register {
            text-decoration: none;
            color: #b03da3;
            &:hover {
                color: #6600cc;
                font-size: 18px;
            }
        }
    }
}
