.page-content {
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    padding: 0 100px 50px 100px;
    height: 650px;
    
    
    .potential {
        padding-top: 85px;
        font-size: 32px;
    }
    .car-price {
        font-size: 32px;
        padding-top: 85px;
    }
    .setup-car-button {
        background-color: #ae3da1;
        width: 190px;
        height: 30px;
        &:hover {
            background-color: #6600cc;
        }
    }
    .profile-buttons-setup-car {
        width: 420px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding-top: 10px;
    }
}

.pseudo-side-menu {
    flex-wrap: wrap;
    width: 450px;
    .page-heading {
        height: 100px;
        padding-bottom: 50px;
    }
}
